<div id="falling-items-container" class="absolute w-full h-full z-20"></div>

<div id="alert-container" class="p-8 absolute w-full h-full top-0 z-10">
  <.twitch_event
    :for={{id, event} <- @events}
    id={"event-#{id}"}
    event={event}
    {assigns}
  />
</div>
