<div id="falling-items-container" class="absolute w-full h-full top-0 z-20"></div>
<div class="absolute w-full h-full top-0 z-30">
  <div id="exploding-items-container" class="relative top-96 right-0 left-0 w-1/2 mx-auto"></div>
</div>

<div id="alert-container" class="p-8 absolute w-full h-full top-0 z-10">
  <.twitch_event
    :for={{id, event} <- @events}
    id={"event-#{id}"}
    event={event}
    {assigns}
  />
</div>
